{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<ul>
  {% for player in players %}
  <li>{{player.name}} ({{player.num}})</li>
  {% endfor %}
</ul>

<select>
  {% for player in players2 %}
  <option value="{{player.id}}">{{player.name}}</option>
  {% endfor %}
</select>
{% endblock %}
